@use 'src/styles/variables.scss' as v;
@use 'src/styles/util.scss';

.filter-area {
  @extend %font-sm;
  padding: 1rem 0;
  display: flex;
  gap: v.$gap-16;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: v.$small) {
    display: grid;
    grid-template-columns: 1fr;
  }

  .field-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: v.$gap-4;
  }
}
